/* concept.css */

.concept-container {
    min-height: max-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.concept-header{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2d3748; /* equivalent to Tailwind's gray-800 */
    font-family: "Playfair Display", serif;
}

.concept-subtitle{
    color: #718096; /* Tailwind's gray-600 */
}

.content-section {
    width: 100%;
    display: flex;
    flex-direction: column; /* md:flex-row default */
    gap: 0;
    overflow: hidden;
    height: 60vh;
}

@media (min-width: 768px) { /* md breakpoint */
    .content-section {
        flex-direction: row; /* md:flex-row */
    }
}

.media-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.media-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.write-up-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem; /* p-8 */
    background-color: #f6f8f5;
}

@media (min-width: 768px) { /* md breakpoint */
    .write-up-section {
        padding: 4rem; /* md:p-16 */
    }
}

.sub-heading {
    font-size: 2.25rem; /* text-4xl */
    font-weight: 600; /* font-bold */
    color: var(--darkBrown-color); /* text-gray-800 */
    margin-bottom: 1.5rem; /* mb-6 */
}

.paragraph {
    color: #333; /* text-gray-700 */
    line-height: 1.625; /* leading-relaxed */
    font-size: 1.125rem; /* text-lg */
    margin-bottom: 2rem; /* mb-8 */
    font-weight: 400;
}

.button-primary {
    align-self: flex-start; /* self-start */
    padding: 1rem 2rem; /* px-8 py-4 */
    background-color: var(--darkBrown-color); /* bg-gray-800 */
    color: #fff; /* text-white */
    font-size: 1rem; /* text-base */
    font-weight: 600; /* font-semibold */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 40%;
}

.button-primary:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
    background-color: #fff; /* hover:bg-gray-700 */
    color: #000;
}

.button-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.75); /* focus:ring-2 focus:ring-gray-500 focus:ring-opacity-75 */
}
