@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #07553d;
  --secondary-color: #c3a25d;
  --tertiary-color: #a88430;
  --last-color: #fef191;

  --beige: #fbece2;
  --darkBrown-color: #7a593e;
  --brown: #4d2b22;
  --olive: #859276;
  --accent-yellow: #f59e0b;
  --accent-yellow-hover: #fbbf24;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #fffdfc;
}